<%-include('layout/header') %>
<h2 class="text-center">Experimental Page</h2>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
      <strong>Course Title :</strong
        ><i>freeCodeCamp: Responsive Web Design</i
        ><strong>by:</strong>
        <i>Quincy Larson</i>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <!-- table -->
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Topic Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Learn HTML by building a Cat Photo App</td>
                <td></td>
                <td colspan="2">
                  <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                  <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                </td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td>Learn Basic CSS by Building a Cafe Menu</td>
                <td></td>
                <td colspan="2">
                  <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                  <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                </td>
              </tr>

              <tr>
                <th scope="row">3</th>
                <td>Learn CSS Colors by Building a set of Colored Markers</td>
                <td></td>
                <td colspan="2">
                  <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                  <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- table end -->
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        <strong>Course Title :</strong
        ><i>Udemy The Complete 2023 Web Development Bootcamp</i
        ><strong>by:</strong><i>Dr. Angela Yu</i>
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <!-- table -->
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="table-dark">
                  <th scope="col">#</th>
                  <th scope="col">Topic Name</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Section 1</td>
                  <td>Front-End Web Development</td>
                  <td colspan="2">
                    <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                    <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                  </td>
                </tr>
  
                <tr>
                  <th scope="row">2</th>
                  <td>Section 2</td>
                  <td>Introduction to HTML</td>
                  <td colspan="2">
                    <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                    <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                  </td>
                </tr>
  
                <tr>
                  <th scope="row">3</th>
                  <td>Section 3</td>
                  <td>Intermediate HTML</td>
                  <td colspan="2">
                    <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                    <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table end -->
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        <strong>Course Title :</strong><i>Scrimba Learn Javascript</i
        ><strong>by:</strong><i>Per Harald Borgen</i>
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <!-- table -->
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="table-dark">
                  <th scope="col">#</th>
                  <th scope="col">Topic Name</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Build a passenger counter App</td>
                  <td></td>
                  <td colspan="2">
                    <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                    <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                  </td>
                </tr>
  
                <tr>
                  <th scope="row">2</th>
                  <td>Practice Time-Part 1</td>
                  <td></td>
                  <td colspan="2">
                    <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                    <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                  </td>
                </tr>
  
                <tr>
                  <th scope="row">3</th>
                  <td>Setting Up a local Dev Enviroment</td>
                  <td></td>
                  <td colspan="2">
                    <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                    <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table end -->
      </div>
    </div>
  </div>
</div>

<%-include('layout/footer') %>
