<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Sub-Item</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/0297596a0a.js" crossorigin="anonymous"></script>
</head>
<body>
  <h1>Edit Sub-topic</h1>
  <div style="display:inline-flex !important;align-items: center;">
    <form action="" method="PUT">
      <input type="text" name="newText" value="<%= subTopic.text %>">    
      <button type="submit">Update</button>
    </form>
    <form action="/">
      <button><i class="fa-solid fa-house"></i></button>
    </form>
  </div>
  
</body>
</html>
<!-- /editSubTopic/:todoId/:subItemId/:subIndex/:subTopicIndex -->