@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom background for header */
.header-bg {
  @apply bg-cover bg-center;
  background-image: url('/images/classroom.jpg');
}


.background-photo {
  background-image: url("/images/classroom.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.dark {
  background-color: black;
  color: white;

}