<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do App</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/public/bootstrap-toggle.js">
<link rel="stylesheet" href="/public/bootstrap-toggle.min.js">
<link rel="stylesheet" href="/public/bootstrap-toggle.min.js.map">
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
    <!-- header -->
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4 text-light">MyLearning Progress.Com</span>
        </a>
  
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link" aria-current="page"><button type="button" class="btn btn-outline-primary"><i class="fas fa-home me-1"></i>Home</button></a></li>
          <li class="nav-item"><a href="/about" class="nav-link"><button type="button" class="btn btn-outline-primary"><i class="fas fa-globe me-1"></i>About</button></a></li>
          <li class="nav-item"><a href="/contact" class="nav-link"><button type="button" class="btn btn-outline-primary"><i class="fas fa-envelope me-1"></i>contact</button></a></li>
          <li class="nav-item"><a href="/faq" class="nav-link"><button type="button" class="btn btn-outline-primary">FAQs</button></a></li>
          <li class="nav-item"><a href="/login" class="nav-link"><button type="button" class="btn btn-outline-primary"><i class="fas fa-user me-1"></i>Login</button></a></li>
        </ul>
      </header>
    </div>
    <!-- header end -->
 